body {
    margin: 0;
    background-color: black;
}
canvas {
    position: absolute;
    cursor: none;
    height: 100vh;
    width: 100vw;
}
    #webgl{
        z-index: 0;
        border-radius: 70px;
    }
    #text2d{
        z-index: 1;
        border-radius: 70px;
    }
button {
    outline: none;
}

#game{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
}

#menu {
    border-radius: 70px;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}
    #start_button {
        position: absolute;
        width: 50%;
        height: 10%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        font-size: 29px;
        line-height: 29px;
        padding: 19px;
        border-radius: 50px;
        font-family: Impact, Charcoal, sans-serif;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        background-image: radial-gradient(at center center, rgb(5, 190, 190) 0%, rgb(0, 17, 117) 100%);
        border:0;
        display: inline-block;
        cursor: pointer;
    }
    #start_button:hover {
        background-image: radial-gradient(at center center, rgb(5, 213, 213) 0%, rgb(0, 84, 155) 100%);
        box-shadow: rgba(255, 255, 255, 0.84) 0px 0px 20px 10px;
    }